div.text-to-type {
  font-family: 'Roboto Mono', monospace;
  max-width: 80vw;
  border: 1px solid grey;
  border-radius: 4px;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.3rem;
  margin-bottom: 20px;
}

.passage-title {
  text-align: left;
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
}

.passage-attribution {
  margin-top: 2rem;
  text-align: right;
  font-family: 'Roboto Mono', monospace;
  font-style: italic;
}
